<style>

</style>

<main class="main">
  <div class="content mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <form>
          <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" placeholder="Enter your username" disabled>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Enter your password" disabled>
          </div>
          <button type="submit" class="btn btn-primary mb-3" disabled>Submit</button>
          <div class="mb-3">
            <a type="button" class="btn btn-outline-danger" (click)="callOauthGoogleAPI()">
              <img src="./assets/img/icons/google.svg"> Sign in with Google
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>

<router-outlet></router-outlet>
